[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
voipms = {editable = true, path = "."}

[dev-packages]
pytest = "*"
autopep8 = "*"

[requires]
python_version = "3.7"
